/* =) */
body { font-family:'Open Sans',sans-serif; text-align:justify; background-color:#FFF; color:#333; font-size:1.6rem;}
input, select {}
h1, h2, h3, h4, h5, h6 { font-size:1.4rem; color:#343434; text-align:left; font-weight:normal; font-family:"Montserrat", sans-serif; }
h1 { font-weight:bolder; margin-bottom:15px; }
h2 { font-weight:bold; margin-bottom:10px; }
h3 { font-style:italic; font-weight:bold; margin-bottom:5px; }
h4 { text-decoration:underline; margin-bottom:5px; }
h5 { margin-bottom:5px; }
p { padding:0; margin:0; margin-bottom:10px; }
a { text-decoration:none; color:#039; cursor:pointer; }
a:link { color:#009; }
a:hover { color:#007; }

.notification[aria-hidden="true"] { display:none; }

/*
Botones
---------------------------------------->*/
.btn { cursor:pointer; padding:5px 10px 7px; background-color:#EEE; color:#333; display:inline-block; border-radius:3px;  }
.btn:visited, .btn:link { color:#444; }
.btn:hover { background-color:#CCC; }
.btn:focus { outline:2px solid #000; }
.btn.simple {}
.btn.small { padding:3px 7px; }
.btn.big { padding:8px 10px; }
.btn.wide { display:block; padding:10px; font-weight:bold; box-sizing:border-box; width:100%; text-align:left; margin-bottom:10px; }
/* */
.btn.red, .btn.red:visited { color:#FFF; background-color:#ff5050; }
.btn.red:hover { background-color:#ff6250; }
.btn.red:disabled { color:#CCC; background-color:#A92027 !important; }
.btn.orange, .btn.orange:visited { color:#FFF; background-color:#FFBC61; }
.btn.orange:hover { background-color:#FFBC61; }
.btn.orange:disabled { color:#CCC; background-color:#F5B261 !important; }
.btn.green, .btn.green:visited { color:#FFF; background-color:#65B35B; }
.btn.green:hover { background-color:#77C46D; }
.btn.green:disabled { color:#CCC; background-color:#3C983C !important; }
.btn.blue, .btn.blue:visited { color:#FFF; background-color:#3778fd; }
.btn.blue:hover { background-color:#5A96FF; }
.btn.blue:disabled { color:#CCC; background-color:#284E9C !important; }

.mobileAppContainer { display:flex; flex-direction:column; width:100vw; height:100vh; }
.appTitle { font-size:2.8rem; text-align:center; font-weight:bold; margin-bottom:20px; }
.appSubTitle { font-size:2.4rem; text-align:center; font-weight:bold; margin-bottom:20px; }
.appSection:not(:first-of-type) { margin-top:30px; }
.screensContainer { flex:1; }