/* =) */
body { font-family:'Open Sans',sans-serif; text-align:justify; background-color:#FFF; color:#333; font-size:1.6rem;}
input, select {}
h1, h2, h3, h4, h5, h6 { font-size:1.4rem; color:#343434; text-align:left; font-weight:normal; font-family:"Montserrat", sans-serif; }
h1 { font-weight:bolder; margin-bottom:15px; }
h2 { font-weight:bold; margin-bottom:10px; }
h3 { font-style:italic; font-weight:bold; margin-bottom:5px; }
h4 { text-decoration:underline; margin-bottom:5px; }
h5 { margin-bottom:5px; }
p { padding:0; margin:0; margin-bottom:10px; }
a { text-decoration:none; color:#039; cursor:pointer; }
a:link { color:#009; }
a:hover { color:#007; }
/*
ESTRUCTURA
---------------------------------------->*/
#se_main { display:flex; flex-direction:column; min-height:100vh; }
#se_top { display:block; }
#se_middle { display:block; overflow:auto; margin:0 0 10px 0; flex-grow:1; }
footer { background-color:#161616; color:#FFF; padding:30px 0; }
/*  */
#se_top_menu { background-color:#161616; color:#FFF; }
#se_top_banner { margin:30px 0; }
/* */
#se_top_banner .logo { }
#se_top_banner .logo img { display:block; margin:0 auto; background-color:#000; }
/* */
#se_top_menu nav { display:flex; flex-direction:row; justify-content:flex-start; font-family:"Montserrat", sans-serif; }
#se_top_menu nav a.main { display:block; color:#FFF; box-sizing:border-box; margin:0; padding:15px 10px; letter-spacing:2px; font-size:1.1rem; text-transform:uppercase; }
#se_top_menu nav a.main:hover { background-color:#404040; }
#se_top_menu nav a.main:active { }
#se_top_menu nav a.main.sel { border-bottom:3px solid #FFF; }
/* */
#se_bottom_1 { display:block; overflow:auto; }
#se_bottom_2 { display:block; overflow:auto; }
#se_bottom_2 > div { display:flex; justify-content:space-between; align-items:center; }

#se_data { background-color:#000; color:#FAFAFA; padding:10px 0; }


.full_nav { display:block; }
.mobile_nav { display:none; position:fixed; top:0; left:0; width:100%; flex-direction:column; z-index:1000; }
.mobile_nav.full { height:100vh; display:flex; }
.mobile_nav .bar { height:50px; background-color:#161616; color:#FFF; display:flex; justify-content:space-between; }
.mobile_nav .bar > * { height:100%; }
.mobile_nav .bar .logo { display:inline-flex; justify-content:center; align-items:center; padding:5px 0; }
.mobile_nav .bar button { color:#FFF; font-size:1.6rem; }
.mobile_logo { height:40px; width:50px; }
.mobile_logo .snk_text, .mobile_logo .snk_body { fill:#FFF; }
.mobile_logo .snk_tounge { fill:#F00; }
/* */
.mobile_nav_menu {}
.mobile_nav_menu button { position:absolute; display:inline-flex; justify-content:center; align-items:center; width:50px; height:50px; top:0; left:0; }
.mobile_nav_menu button:hover { background-color:#262626}
.mobile_nav_menu input[type="checkbox"] { position:absolute; top:0; left:0; width:50px; height:50px; opacity:0; margin:0; cursor:pointer; z-index:1; }
.mobile_nav_menu .navigation { position:absolute; top:50px; left:-80vw; width:80vw; z-index:5; height:calc(100vh - 50px); background-color:#262626; transition:all 0.3s ease-in-out; }
.mobile_nav_menu .background { position:absolute; top:0; left:0; z-index:-1; width:100vw; height:100vh; display:none; background-color:#333333AA; }

.mobile_nav_menu input[type="checkbox"]:checked { z-index:2; width:100vw; height:100vh; }
.mobile_nav_menu input[type="checkbox"]:hover ~ button { background-color:#5A5A5A; }
.mobile_nav_menu input[type="checkbox"]:checked ~ button { background-color:#5A5A5A; }
.mobile_nav_menu input[type="checkbox"]:checked ~ .navigation { left:0; }
.mobile_nav_menu input[type="checkbox"]:checked ~ .background { display:block; }
/* */
.mobile_nav_menu .mainMenu a { display:block; padding:15px 20px; color:#FFF; font-size:1.6rem; }
.mobile_nav_menu .mainMenu a + a { border-top:1px solid #ADADAD; }
.mobile_nav_menu .mainMenu a:hover { background-color:#161616; }
.mobile_nav_menu .mainMenu { margin-bottom:10px; }
/**/
.mobile_nav_menu.right button { left:auto; right:0; }
.mobile_nav_menu.right input[type="checkbox"] { left:auto; right:0; }
.mobile_nav_menu.right input[type="checkbox"]:checked { z-index:1; width:100vw; height:100vh; top:0; right:0; }
.mobile_nav_menu.right input[type="checkbox"]:checked ~ .navigation { right:0; left:auto; }
.mobile_nav_menu.right .navigation { right:-80vw; left:auto; }

#se_navmenu { background-color:#FFF; width:100%; }
.wpContent { width:1100px; margin:0 auto; }
.pageCont { width:1200px; margin:0 auto; }
@media only screen and (max-width:767px) {
	.full_nav { display:none; }
	.mobile_nav { display:flex; }
	.pageCont { width:100%; }
	.wpContent { width:calc(100% - 20px); }
	footer { padding:10px 0; }
}
@media only screen and (min-width:768px) and (max-width:979px) {
	.pageCont { width:100%; }
	.wpContent { width:calc(100% - 20px); }
}
@media only screen and (min-width:980px) and (max-width:1199px) {
	.pageCont { width:calc(100% - 40px); }
	.wpContent { width:calc(100% - 40px); }
}
/*
ESTRUCTURA - Elementos
---------------------------------------->*/
#se_data .pageCont{ display:flex; justify-content:space-between; }
#se_bottom_1 .title, #bottom_1 h2, #bottom_1 h3 { color:#EEE; text-transform:capitalize;margin-bottom:10px; font-size:1.8rem; font-weight:bold; }
#se_bottom_1 a, #bottom_1 a:link { color:#018F00; }
#se_bottom_1 a:visited { color:#00A000; }
#se_bottom_1 a:hover { color:#00A000; }
#se_bottom_1 .content {}
#se_bottom_1 .vSep { border-bottom:1px solid #FFF; padding:0 0 5px 0; margin:5px 0; }
#se_bottom_1 .hSep { display:inline-block; vertical-align:top; }
#se_bottom_1 .hSep i { color:#EEE; margin-right:5px; }
#se_bottom_1 .hSep2 { display:inline-block; border-left:1px solid #FFF;padding:0 0 0 5px; margin:0 0 0 5px;}
.bottom_menu a { display:block; padding:5px 0; color:#7EAA40 !important; text-align:left; }
.bottom_menu a:hover { background:rgba(153,153,153,0.3); }
.btn_snFA { font-size:1.7rem; display:inline-block; cursor:pointer; padding:10px; border-radius:50%; color:#FFF !important; }
.btn_snFA:hover { background-color:#FFF; color:#000 !important; }

/*
Menu
---------------------------------------->*/
@media only screen and (max-width:767px) {
	#se_top { position:fixed; z-index:1000; top:0; left:0; width:100%; }
	#se_main { padding-top:50px; }
}

#menubar_2_icon { display:none; width:30px; height:30px; padding:5px; }
#menubar_2_icon:hover { color:#CCC; border-radius:3px; }
.iconArrow { display:block; width:0; height:0; border-left:15px solid transparent; border-right:15px solid transparent; border-top:20px solid #FFF; }
#menubar_2 ul { display:block; overflow:auto; }
#menubar_2 ul li { display:block; float:left; list-style:none; margin:0; }
#menubar_2 li > a { display:block; color:#444; box-sizing:border-box; -moz-box-sizing:border-box; margin:0; padding:12px 15px 10px; font-weight:bold; text-transform:uppercase; }
#menubar_2 li > a:hover { border-bottom:3px solid #CCC; }
#menubar_2 li > a:active { }
#menubar_2 li > a.sel { border-bottom:3px solid #06C; }
#menubar_2 div { position:absolute; visibility:hidden; text-align:left; z-index:10000; margin:-40px 10px 0 0; padding:10px 0 0 0; min-width:100px; min-height:20px; background-color:#444; overflow:auto; }
#menubar_2 div a { display:block; margin:0!important; padding:3px 7px!important; color:#FFF; text-align:left; border-top:solid #AAA 1px; }
#menubar_2 div a:first-child { border:0; }
#menubar_2 div a:hover { background:#555; color:#FFF; }



/*
Sitio - Genéricos
---------------------------------------->*/
.fullTitle { display:block; background-color:#F5F5F5; color:#888; padding:20px 0; margin:0 0 20px 0; font-size:2.4rem; font-weight:bold; }

.section { display:block; overflow:auto; padding:30px 0; }
.section.type2 { background-color:#F8F8F8; border-top:1px solid #DDD; border-bottom:1px solid #DDD; }
.map img { max-width:100%; }
.socialshare { font-size:1.8rem; }
/* Modo celular */
@media only screen and (max-width:767px) {
	.section { padding:10px 0; }
}
/* Modo tablet */
@media only screen and (min-width:768px) and (max-width:1024px) {
	.section { padding:10px 0; }
}

/*
Sitio - Específicos
---------------------------------------->*/
.icon_cont { overflow:auto; }
.icon_cont + .icon_cont { margin-top:20px; }
.icon_cont .iObj { display:block; height:50px; width:50px; border-radius:50%; float:left; margin-right:10px; background-color:#0EC900;color:#FFF; line-height:50px; text-align:center; }
.icon_cont .mData { display:block; overflow:auto; }
.icon_cont .title { font-weight:bold; display:block; }
.icon_cont .desc { display:block; }
.divAccent { border-radius:3px; border:1px solid #CCC; background-color:#F8F8F8; padding:10px; color:#333; min-height:150px; }
.divAccent .title { font-weight:bold; margin-bottom:10px; }
/*
ajaxSearch
---------------------------------------->*/
.ajaxSearch .filters { display:block; min-height:300px; background-color:#F5F5F5; padding:10px; }
.ajaxSearch .filters .current:empty { display:none; }
.ajaxSearch .filters .current { padding-bottom:10px; border-bottom:1px solid #BBB; margin-bottom:10px; }
.ajaxSearch .filters .filElem { display:block; }
.ajaxSearch .filters .filElem + .filElem { margin-top:10px; }
.ajaxSearch .filters .filElem .title { font-weight:bold; display:block; margin-bottom:3px; }
.ajaxSearch .filters .filElem input[type="text"] { border-radius:2px; padding:3px 5px; border:1px solid #CCC; width:100%; box-sizing:border-box; }
.ajaxSearch .filters .filElem ul { }
.ajaxSearch .filters .filElem li { list-style:none; display:block; cursor:pointer; padding:2px 3px; margin-bottom:2px; }
.ajaxSearch .filters .filElem li:hover { background-color:#FFF; color:#666; }
.ajaxSearch .filters .current li { list-style:none; display:block; cursor:pointer; padding:4px 6px; border-radius:3px; margin-bottom:2px; background-color:#666; color:#EEE; }
.ajaxSearch .filters .current li:after { content:'X'; float:right; }
.ajaxSearch1 .filters .current li:hover { background-color:#FFF; color:#666; }

/*
Botones
---------------------------------------->*/
.btn { cursor:pointer; padding:3px 8px; font-weight:bold; background-color:#DDD; color:#333; display:inline-block; border-radius:3px; border:1px solid #999; }
.btn:visited, .btn:link { color:#444; }
.btn:hover { background-color:#CCC; }
.btnImg { display:inline-block; padding:0; border:0; cursor:pointer; }
.btn.big { display:block; padding:5px 10px; }
.btn_loadMore { border:#BBB 1px dashed; padding:10px; clear:both; cursor:pointer; text-align:center; }
.btn_loadMore:hover { background-color:#EEE; }
/*
Ventanas
------------------------------------------> */
#aj_bkg { position:fixed; display:table; z-index:2000; width:100%; height:100%; margin:0; border:0; top:0; left:0; visibility:hidden; overflow:hidden; background-color:rgba(0, 0, 0, 0.4); }
#aj_mid { position:static; display:table-cell; vertical-align:middle; width:100%; height:100%; }
.win_main { background-color:#FFF; border:3px solid black; border-radius:5px; }
.win_header { background-color:#368EE0; color:#FFF; }
.win_header .close:hover { background-color:#52A5F7; }

/*
SideBar
---------------------------------------->*/
.sb_mod { margin-bottom:20px; font-size:1.3rem; }
.sb_mod .title { position:relative; margin-bottom:10px; padding:10px; background-color:#161616; color:#FFF; text-transform:uppercase; letter-spacing:2px; text-align:center; font-family:"Montserrat", sans-serif; }
.sb_mod .title:after { top:100%; left:50%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none; }
.sb_mod .title:after { border-color:rgba(22, 22, 22, 0); border-top-color:#161616; border-width:5px; margin-left:-5px; }
.sb_mod .text { padding:5px; }
.sb_mod .links a { display:block; padding:10px 15px; background-color:#F5F5F5;}
.sb_mod .links a:hover { background-color:#DDD; }
.sb_mod li { list-style-type:circle; color:#C90; margin-left:20px; }
.sb_mod a { color:#003063; }
.sb_mod img {text-align:center; }
/* Tabs */
.sb_mod .tabs {}
.sb_mod .tabs > div { float:left; position:relative; padding:4px 10px 4px 10px; margin-right:2px; top:1px; cursor:pointer; font-weight:bold; background-color:#007c07; color:#DDD; border:1px solid #333; border-bottom:none; text-shadow:0 -1px 0 #3e0000; }
.sb_mod .tabs > div.selected { background-color:#F5F5F5; color:#68e355; border:1px solid #F0F0F0; border-bottom:1px solid #b1a37e; text-shadow:0 -1px 0 #c4bca8; }
.sb_mod .contents { clear:both; border:1px solid #F0F0F0; background-color:#F5F5F5; }
.sb_mod .contents > div { margin:5px; }
/*
Ventana
---------------------------------------->*/
#aj_bkg { position:fixed; display:table; z-index:2000; width:100%; height:100%; margin:0; border:0; top:0; left:0; visibility:hidden; overflow:hidden; background-color:rgba(0, 0, 0, 0.4); }
#aj_mid { position:static; display:table-cell; vertical-align:middle; width:100%; height:100%; }
#aj_cont { position:relative; display:block; background-color:#FFF; margin:auto; border:2px solid black; border-radius:5px; min-height:200px; }
#aj_cont .wTitle { position:static; display:block; font-weight:bold; padding:10px; background:#EC7600; color:#FFF; }
#aj_cont .wContent { position:absolute; display:block; padding:10px; overflow-y:auto; -moz-box-sizing:padding-box; box-sizing:padding-box; width:100%; height:340px; height:-moz-calc(100% - 55px); height:-webkit-calc(100% - 55px); height:calc(100% - 55px); }
/* Frame - Casos especiales */
#aj_cont #nMessage { height:100px; width:100%; }
#aj_cont.objNew { width:450px; height:280px; }
#aj_cont.fReq { width:400px; }
#aj_cont.msgN { width:400px; }
#aj_cont.teamPlay { width:400px; height:600px; }
#aj_cont.review { width:600px; height:550px; }
#aj_cont.sell { width:450px; height:300px; }
#aj_cont.fotoWin { margin:0 auto; min-height:600px; width:980px; }
#aj_cont.form { width:800px; height:400px; height:-moz-calc(100% - 60px); height:-webkit-calc(100% - 60px); height:calc(100% - 60px); }
#ulogin { display:none; }
/* Slider */
.floatWindow { display:block; position:relative; padding:5px; border:2px #000 solid; border-radius:2px; background:#FFF; min-height:50px; min-width:150px; }
/*
Container
---------------------------------------->*/
.adv_text { text-align:justify; line-height:1.8em; }
.adv_text img { display:block; clear:both; float:none; width:100%; height:auto; }
.adv_text img.gOIB { margin:0 0 10px 0; }
.adv_text img.gOIC { margin:0 auto 10px auto; }
.adv_text img.gOIL { margin:0 10px 10px 0; float:left; }
.adv_text img.gOIR { margin:0 0 10px 10px; float:right; }
.adv_text ol, .adv_text ul { padding-left:1.5em; }
.adv_text p { margin-bottom:1em; margin-top:1em; }
.adv_text h1, .adv_text h2, .adv_text h3, .adv_text h4, .adv_text h5, .adv_text h6 { margin-bottom:1em; margin-top:1.5em; line-height:1.3em; }
.adv_text h1 { font-size:1.8em; font-weight:bold; }
.adv_text h2 { font-size:1.6em; font-weight:bold; }
.adv_text h3 { font-size:1.5em; font-style:italic; }
.adv_text h4 { font-size:1.4em; font-weight:bold; text-decoration:underline; }
.adv_text h5 { font-size:1.3em; font-style:italic; }
.adv_text h6 { font-size:1.2em; text-decoration:underline; font-weight:normal; }
.adv_text figure { margin:1em 0; }
.adv_text .videoWrapper { margin:10px 0; }
.adv_text figcaption { display:block; margin:0 10px; }
.adv_text figcaption p { margin:0; }
.adv_text figcaption p.credit { text-align:right; font-size:0.9em; font-style:italic; }
.adv_text picture { display:block; width:100%; }
.adv_text figure.quote { background-color:#F5F5F5; border-radius:5px; padding:10px; font-style:italic; color:#000; }
.adv_text figure blockquote { border-bottom:1px solid #666; margin:0 0 10px 0; padding:0 0 10px 0; }
.adv_text figure.quote figcaption { text-align:left; font-weight:bold; }
.adv_text figure.quote figcaption:before { content:'-'; }
.adv_text figure table { display:table; border-collapse:collapse; }
.adv_text figure table thead tr th { padding:5px; text-align:center; font-weight:bold; }
.adv_text figure table td { padding:5px; }
.adv_text figure table.border, .adv_text figure table.border th, .adv_text figure table.border td, .adv_text figure table.border .thead > * > *, .adv_text figure table.border .tbody > * > *, .adv_text figure table.border .tfoot > * > * { border:1px solid #DDD; vertical-align:middle; }
.adv_text figure table.alternate tbody tr:nth-child(2n) td, .adv_text figure table.alternate .tbody > *:nth-child(2n) > * { background-color:#F6F6F6; }
.adv_text figure table.wide { width:100%; }
.adv_text figure table.fixed { table-layout:fixed; }
.adv_text .notification .content { white-space:normal; }
.adv_text .notification .content p { margin:5px; }


/* */
.front_banner { display:block; width:100%; }
.front_banner img { max-width:100%; display:block; }


.boardGameList { display:flex; flex-direction:column; gap:20px; }
.boardGameList button { display:block; padding:10px; background-color:#eee; font-weight:bold; font-size:3.5rem; }

dialog.asWindow { padding:0; border:0; background:transparent; }

/*
Botones
---------------------------------------->*/
.btn { cursor:pointer; padding:5px 10px 7px; background-color:#EEE; color:#333; display:inline-block; border-radius:3px;  }
.btn:visited, .btn:link { color:#444; }
.btn:hover { background-color:#CCC; }
.btn:focus { outline:2px solid #000; }
.btn.simple {}
.btn.small { padding:3px 7px; }
.btn.big { padding:8px 10px; }
.btn.wide { display:block; padding:10px; font-weight:bold; box-sizing:border-box; width:100%; text-align:left; margin-bottom:10px; }
/* */
.btn.red, .btn.red:visited { color:#FFF; background-color:#ff5050; }
.btn.red:hover { background-color:#ff6250; }
.btn.red:disabled { color:#CCC; background-color:#A92027 !important; }
.btn.orange, .btn.orange:visited { color:#FFF; background-color:#FFBC61; }
.btn.orange:hover { background-color:#FFBC61; }
.btn.orange:disabled { color:#CCC; background-color:#F5B261 !important; }
.btn.green, .btn.green:visited { color:#FFF; background-color:#65B35B; }
.btn.green:hover { background-color:#77C46D; }
.btn.green:disabled { color:#CCC; background-color:#3C983C !important; }
.btn.blue, .btn.blue:visited { color:#FFF; background-color:#3778fd; }
.btn.blue:hover { background-color:#5A96FF; }
.btn.blue:disabled { color:#CCC; background-color:#284E9C !important; }

.fullVertical { display:flex; flex-direction:column; height:100vh; }
.verticalMain { flex:1; }