:root {
	--color-header-bkg:#333;
	--color-header-txt:#FFF;
	--color-body-bkg:#FFF;
	--color-body-txt:#000;
	--color-navbar-bkg:#EEE;
	--color-navbar-bkg-hover:#DDD;
	--color-navbar-txt:#000;
	--color-card-bkg:#EEE;
	--color-card-txt:#000;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-header-bkg:#333;
		--color-header-txt:#FFF;
		--color-body-bkg:#5C5C5C;
		--color-body-txt:#FFF;
		--color-navbar-bkg:#383838;
		--color-navbar-bkg-hover:#1D1D1D;
		--color-navbar-txt:#FFF;
		--color-card-bkg:#BBB;
		--color-card-txt:#000;
	}
}

.mobileAppContainer { flex-direction:column; width:100vw; height:100vh; }
.mobileAppTitle { display:flex; align-items:center; justify-content:center; font-size:3rem; text-align:center; font-weight:bold; height:50px; background-color:var(--color-header-bkg); color:var(--color-header-txt); }
.screensContainer { height:calc(100vh - 50px); background-color:var(--color-body-bkg); color:var(--color-body-txt); }

.screensContainer > div[aria-hidden="true"] { display:none; }

.phone_app { display:flex; flex-direction:column; width:100vw; height:calc(100vh - 50px); }
.phone_app .app_screens { display:flex; flex:1; flex-direction:row; scroll-snap-type: x mandatory; overflow-x:scroll; -webkit-overflow-scrolling: touch; }
.phone_app .app_screens > section { padding:15px; height:100%; min-width:100vw; overflow-y:auto; scroll-snap-align: start; }
.phone_app .app_tabs { display:flex; flex-direction:row; height:50px; background-color:var(--color-navbar-bkg); color:var(--color-navbar-txt); }
.phone_app .app_tabs > a { display:flex; flex:1; justify-content:center; align-content:center; align-items:center; color:inherit; }
.phone_app .app_tabs > a:hover { background-color:var(--color-navbar-bkg-hover); }




div.screensContainer[data-user="0"] .userSelected, div.screensContainer[data-user="1"] .userNotSelected { display:none; }
.playerName { font-weight:bold; text-align:center; font-size:5.0rem; margin-bottom:20px; }
.playerList > div { padding:20px; background-color:#EEE; border-radius:5px; }
.playerList > div + div { margin-top:20px; }

.objectiveSecondaryList {}
.objectiveSecondaryList > div { padding:10px; border-right:5px solid #BBB; background-color:var(--color-card-bkg); color:var(--color-card-txt); }
.objectiveSecondaryList > div[data-difficulty="high"] { border-left:5px solid #900; }
.objectiveSecondaryList > div[data-difficulty="low"] { border-left:5px solid #009; }
.objectiveSecondaryList > div[data-owner="-1"] .bonus { display:none; }
.objectiveSecondaryList > div[data-owner="1"] { border-right-color:var(--color-player-01); }
.objectiveSecondaryList > div[data-owner="2"] { border-right-color:var(--color-player-02); }
.objectiveSecondaryList > div[data-owner="3"] { border-right-color:var(--color-player-03); }
.objectiveSecondaryList > div[data-owner="4"] { border-right-color:var(--color-player-04); }
.objectiveSecondaryList > div[data-owner="5"] { border-right-color:var(--color-player-05); }
.objectiveSecondaryList > div[data-owner="6"] { border-right-color:var(--color-player-06); }
.objectiveSecondaryList > div + div { margin-top:20px; }
.objectiveSecondaryList .requirements { font-weight:bold; margin-bottom:10px; }
.objectiveSecondaryList .bonus { }

.objectivePrimaryList {}
.objectivePrimaryList > div { padding:10px; background-color:var(--color-card-bkg); color:var(--color-card-txt); }
.objectivePrimaryList > div[data-own="1"] { border-right:5px solid #090; }
.objectivePrimaryList > div + div { margin-top:20px; }

.userCards > div { display:flex; justify-content:space-between; padding:10px; background-color:var(--color-card-bkg); color:var(--color-card-txt); }
.userCards > div[data-type="location"] { border-left:5px solid #900; }
.userCards > div[data-type="additive"] { border-left:5px solid #009; }
.userCards > div:not(:first-child) { margin-top:20px; }

.userObjective { border-collapse:separate; border-spacing:10px; }



.loadTest { font-size:50rem; }
.menuList { display:flex; flex-direction:column; gap:20px; }
.menuList button { display:block; padding:10px; font-size:2.0rem; background-color:#CCC; }
.menuList button:hover { background-color:#DDD; }

.boardScreenContainer {}
.boardScreenContainer > div { width:100vw; height:100vh; background-color:#EEE; }
.boardScreenContainer > div[aria-hidden="true"] { display:none; }

.boardSectionTitle { display:block; font-size:5rem; font-weight:bold; text-align:center; margin:20px 0; }

table[se-elem="playerList"] tr td:not(:first-child) { text-align:center; }
table[se-elem="playerList"] tr[data-isuser="1"] td:first-child { text-decoration:underline; }
table[se-elem="playerList"] tr[data-isuser="1"] td:first-child::before { content:"▸"; }
table[se-elem="playerList"] tr[data-turn="1"] { font-weight:bold; }
table[se-elem="playerList"] tr[data-turn="1"] td { background-color:#DDD !important; }
table[se-elem="playerList"] tr[data-color="1"] .name { color:var(--color-player-01); }
table[se-elem="playerList"] tr[data-color="2"] .name { color:var(--color-player-02); }
table[se-elem="playerList"] tr[data-color="3"] .name { color:var(--color-player-03); }
table[se-elem="playerList"] tr[data-color="4"] .name { color:var(--color-player-04); }
table[se-elem="playerList"] tr[data-color="5"] .name { color:var(--color-player-05); }
table[se-elem="playerList"] tr[data-color="6"] .name { color:var(--color-player-06); }
