:root {
	--color-player-01:#009;
	--color-player-02:#900;
	--color-player-03:#090;
	--color-player-04:#FF9D2E;
	--color-player-05:#FFEE4F;
	--color-player-06:#000;
	--color-attack:#900;
	--color-defense:#009;
}



table[se-elem="playerList"] tr td:not(:first-child) { text-align:center; }
table[se-elem="playerList"] tr[data-isalive="0"] td { text-decoration:line-through; }
table[se-elem="playerList"] tr[data-turn="1"] { font-weight:bold; }
table[se-elem="playerList"] tr[data-turn="1"] td { background-color:#DDD !important; }
table[se-elem="playerList"] tr[data-color="1"] .name { color:var(--color-player-01); }
table[se-elem="playerList"] tr[data-color="2"] .name { color:var(--color-player-02); }
table[se-elem="playerList"] tr[data-color="3"] .name { color:var(--color-player-03); }
table[se-elem="playerList"] tr[data-color="4"] .name { color:var(--color-player-04); }
table[se-elem="playerList"] tr[data-color="5"] .name { color:var(--color-player-05); }
table[se-elem="playerList"] tr[data-color="6"] .name { color:var(--color-player-06); }

.userNameDisplay[data-color="1"] { color:var(--color-player-01); }
.userNameDisplay[data-color="2"] { color:var(--color-player-02); }
.userNameDisplay[data-color="3"] { color:var(--color-player-03); }
.userNameDisplay[data-color="4"] { color:var(--color-player-04); }
.userNameDisplay[data-color="5"] { color:var(--color-player-05); }
.userNameDisplay[data-color="6"] { color:var(--color-player-06); }
