body { height:100vh; width:100vw; overflow:hidden; }

.general_boardgame *[aria-hidden="true"] { display:none; }
.general_boardgame dialog { font-size:2em; }

.boardScreenContainer {}
.boardScreenContainer > div { width:100vw; height:100vh; }

.mainBoard3 { display:grid; grid-template-columns: auto 360px; grid-auto-rows:auto 60px; gap:3px; background-color:#333; }
.mainBoard3 > * { overflow:hidden; }
.mainBoard3 > .main { grid-area: 1 / 1 / 1 / 1; background-color:#8dc1f3; }
.mainBoard3 > .bigBar { grid-area: 1 / 2 / 1 / 2; background-color:#96a4b7; display:flex; flex-direction:column; gap:20px; justify-content:space-between; padding:10px; font-size:1.2em; }
.mainBoard3 > .smallBar { grid-area: 2 / 1 / 2 / -1; background-color:#656565; display:flex; flex-direction:row; justify-content:space-between; align-items:center; font-size:1.3em; padding:0 20px; }
.mainBoard3 > .smallBar .options { display:flex; flex-direction:row; gap:20px; }

@media (min-aspect-ratio: 17 / 9) {
	.mainBoard3 { display:grid; grid-template-columns: auto 400px 100px; }
	.mainBoard3 > .main { grid-area: 1 / 1 / 1 / 1; }
	.mainBoard3 > .bigBar { grid-area: 1 / 2 / 1 / 2; }
	.mainBoard3 > .smallBar { grid-area: 1 / 3 / 1 / 3; flex-direction:column; padding:20px 0; }
	.mainBoard3 > .smallBar .options { flex-direction:column; }
}

.loadTest { font-size:50rem; }
.menuList { display:flex; flex-direction:column; gap:20px; }
.menuList button { display:block; padding:10px; font-size:2.0rem; background-color:#CCC; text-align:left; border-radius:3px; }
.menuList button:hover { background-color:#DDD; }

.boardSectionTitle { display:block; font-size:5rem; font-weight:bold; text-align:center; margin-bottom:20px; }

table.simpleSpacer { width:100%; border-collapse:separate; border-spacing:3px; }

.info_section {}
.info_section > .title { font-weight:bold; margin-bottom:10px; font-size:2em; }
.info_section > .subtitle { font-weight:bold; margin-bottom:10px; font-size:1.8em; text-decoration:underline; }
.info_section *:not(:first-child) { margin-top:20px; margin-bottom:0; }
.info_section:not(:first-child) { margin-top:40px; }

.userActionOption { min-width:300px; min-height:200px; padding:10px; border:1px solid #000; background-color:#FFF; }
.userActionOption .title { font-size:1.4em; font-weight:bold; text-align:center; margin-bottom:20px; }
.userActionOption .title { font-size:1.2em; text-decoration:underline; text-align:center; margin-bottom:10px; }

.circle_button { display:block; padding:10px; border-radius:50%; border:3px solid #111; color:#111; }
.circle_button[data-active="1"] { color:#DDD; border-color:#DDD; }

.liveConsole:empty { display:none; }
.liveConsole { background-color:#DDD; padding:20px; border:1px solid #000; color:#000; font-size:3.0rem; font-weight:bold; text-align:center; }

.lat_bar_section { }
.lat_bar_section + .lat_bar_section{ margin-top:20px; border-top:1px solid #333; padding-top:20px; }
.lat_bar_section .title { text-align:center; font-weight:bold; margin-bottom:10px; font-size:1.5em; }


.inputSlider { display:flex; flex-direction:row; gap:10px; margin-bottom:20px; }
.inputSlider input[type="range"] { flex:1; }
.inputSlider input[type="number"] { flex:0; width:70px; }