#roskBoard .boardSectionTitle { display:block; font-size:4rem; font-weight:bold; text-align:center; margin-bottom:20px; }

#roskBoard .supplyList { font-size:5rem; margin-bottom:20px; border-collapse:separate; border-spacing:10px; }
#roskBoard .resultList { font-size:4rem; margin-bottom:20px; border-collapse:separate; border-spacing:10px; }

#roskBoard .userInformation { font-size:6rem; font-weight:bold; margin-bottom:20px; text-align:center; }
#roskBoard .userInformation[data-side="1"] { color:var(--color-player-01); }
#roskBoard .userInformation[data-side="2"] { color:var(--color-player-02); }
#roskBoard .userInformation[data-side="3"] { color:var(--color-player-03); }
#roskBoard .userInformation[data-side="4"] { color:var(--color-player-04); }
#roskBoard .userInformation[data-side="5"] { color:var(--color-player-05); }
#roskBoard .userInformation[data-side="6"] { color:var(--color-player-06); }

#roskBoard .battleInfo { text-align:center; width:800px; table-layout:fixed; font-size:5rem; margin-bottom:20px; border-collapse:separate; border-spacing:10px; }
#roskBoard .battleInfo .title { font-weight:bold; font-size:5rem; }
#roskBoard .battleInfo .title td { padding:15px; }
#roskBoard .battleInfo .title td:first-child{ background-color:var(--color-attack); color:#FFF; }
#roskBoard .battleInfo .title td:last-child { background-color:var(--color-defense); color:#FFF; }
#roskBoard .battleInfo .userName { font-weight:bold; }
#roskBoard .battleInfo .userName [data-side="1"] { color:var(--color-player-01); }
#roskBoard .battleInfo .userName [data-side="2"] { color:var(--color-player-02); }
#roskBoard .battleInfo .userName [data-side="3"] { color:var(--color-player-03); }
#roskBoard .battleInfo .userName [data-side="4"] { color:var(--color-player-04); }
#roskBoard .battleInfo .userName [data-side="5"] { color:var(--color-player-05); }
#roskBoard .battleInfo .userName [data-side="6"] { color:var(--color-player-06); }

#roskBoard .objAttack { color:var(--color-attack); }
#roskBoard .objDefense { color:var(--color-defense); }

#roskBoard .movementInfo { text-align:center; table-layout:fixed; width:700px; font-size:5rem; margin-bottom:20px; border-collapse:separate; border-spacing:10px; }
#roskBoard .movementInfo .title { font-weight:bold; font-size:6rem; }
#roskBoard .movementInfo .title td { background-color:#CCC; padding:20px }
#roskBoard .movementInfo td { padding:10px; }
#roskBoard .movementInfo .thin { width:50px; background-color:#FFF !important; }

#roskBoard .battleScreens > div[aria-hidden="true"] { display:none; }

#roskBoard .dialogTitle { text-align:center; font-weight:bold; font-size:6.0rem; }

#roskBoard form.combat { margin-bottom:20px; }
#roskBoard form.combat .observation { margin-bottom:10px; }
#roskBoard form.combat .operation { display:flex; justify-content:space-between; flex-direction:row; gap:20px; margin-bottom:20px; }
#roskBoard form.combat .operation label {}
#roskBoard form.combat .operation label[aria-hidden="true"] { display:none; }
#roskBoard form.combat .operation label input { display:none; }
#roskBoard form.combat .operation label div { cursor:pointer; font-size:1.5em; user-select:none; background-color:#DDD; color:#000; border-radius:5px; padding:20px; }
#roskBoard form.combat .operation label input:checked + div { background-color:#BBB; }

#roskBoard form.cards { margin-bottom:20px; }
#roskBoard form.cards . { display:flex; justify-content:space-between; flex-direction:row; gap:20px; margin-bottom:20px; }
#roskBoard form.cards .cardList { margin-bottom:20px; display:flex; flex-direction:column; gap:20px; justify-content:space-between; }
#roskBoard form.cards .cardList label input { display:none; }
#roskBoard form.cards .cardList label div { cursor:pointer; background-color:#DDD; color:#000; border-radius:5px; padding:20px; font-size:5.0rem; font-weight:bold; }
#roskBoard form.cards .cardList label input:checked + div { background-color:#BBB; }
#roskBoard .cardsIcon { font-size:20rem; text-align:center; }

#roskBoard .locationName { font-size:3.5rem; margin-bottom:20px; text-align:center; font-weight:bold; }

#roskBoard .faseDependent { display:none; }
#roskBoard[data-fase="placement"] .faseDependent.placement { display:block; }
#roskBoard[data-fase="placementUser"] .faseDependent.placementUser { display:block; }
#roskBoard[data-fase="firstRoundResupply"] .faseDependent.firstRoundResupply { display:block; }
#roskBoard[data-fase="firstRoundCombat"] .faseDependent.firstRoundCombat { display:block; }
#roskBoard[data-fase="mainGame"] .faseDependent.mainGame { display:block; }

#roskBoard .bottomBar .options { display:flex; flex-direction:column; gap:20px; }

#roskBoard #roskMap { max-height:100vh; width:100%; height:100%; }
#roskBoard #map .country_group { cursor:pointer; }
#roskBoard #map .country_group:hover .country { fill:#FFF; }
#roskBoard #map .country.selected { fill:#EEE; }
#roskBoard #map .country.candidate { stroke:#EEE; fill:#DDD; }

#roskBoard .userDialogInformation .userTitle { font-size:6rem; text-align:center; font-weight:bold; margin-bottom:20px; }
#roskBoard .userDialogInformation .userTitle.win { color:#F8CD44; }
#roskBoard .userDialogInformation .userTitle.defeat { color:#900; }
#roskBoard .userDialogInformation .userIcon { font-size:30rem; text-align:center; padding:0 150px; }

#roskBoard #bombingRunDialog[data-active="1"] .inactiveElement, #bombingRunDialog[data-active="0"] .activeElement { display:none; }

#roskBoard[data-userstep="resupply"] .stages li[data-step="resupply"] { font-weight:bold; }
#roskBoard[data-userstep="combat"] .stages li[data-step="combat"] { font-weight:bold; }
#roskBoard[data-userstep="movement_ini"] .stages li[data-step="movement_ini"] { font-weight:bold; }
#roskBoard[data-userstep="movement_end"] .stages li[data-step="movement_end"] { font-weight:bold; }
#roskBoard[data-userstep="movement_end_extra"] .stages li[data-step="movement_end_extra"] { font-weight:bold; }
#roskBoard[data-userstep="endTurnEval"] .stages li[data-step="endTurnEval"] { font-weight:bold; }
