:root {
	--color-group-01:#bccd40;
	--color-group-02:#0cbcd4;
	--color-group-03:#ed408a;
	--color-group-04:#f27034;
	--color-group-05:#e73239;
	--color-group-06:#f3b931;
	--color-group-07:#48af53;
	--color-group-08:#7b64aa;
}

#boardgame_megacorp .bottomBar .options { flex-direction:column; }

/* DIALOG */
#boardgame_megacorp  #userLandFall { width:1200px; }


/**/
#boardgame_megacorp .boardMap { height:100%; }
#boardgame_megacorp .boardMap .map { padding:10px; display:grid; gap:10px; grid-template-columns:repeat(10, 1fr); height:100%; }

#boardgame_megacorp .tile { display:flex; flex-direction:column; background-color:#FFF; border:4px solid #666; min-width:0; }
#boardgame_megacorp .tile .header { height:30px; }
#boardgame_megacorp .tile .name { font-weight:bold; }
#boardgame_megacorp .tile .body { padding:10px; flex:1; display:flex; flex-direction:column; align-items:center; gap:10px; justify-content:space-between; }
#boardgame_megacorp .tile .center { display:flex; flex-direction:column; gap:10px; position:relative; width:100%; aspect-ratio:1 / 1; }
#boardgame_megacorp .tile .center .image { display:block; position:absolute; top:0; left:0; width:100%; background-color:#DDD; aspect-ratio:1 / 1; overflow:hidden; }
#boardgame_megacorp .tile .center .image img { display:block; width:100%; height:100%; object-fit:cover; }
#boardgame_megacorp .tile .center .userContainer { display:grid; gap:10px; position:absolute; top:0; left:0; width:100%; grid-template-columns:repeat(3, 1fr); }

#boardgame_megacorp .tile.big { width:600px; margin:0 auto; }
#boardgame_megacorp .tile.big .header { height:50px; }
#boardgame_megacorp .tile.big .name { font-size:3rem; padding:20px 0; }

#boardgame_megacorp .tile[data-group="1"] .header { background-color:var(--color-group-01); }
#boardgame_megacorp .tile[data-group="2"] .header { background-color:var(--color-group-02); }
#boardgame_megacorp .tile[data-group="3"] .header { background-color:var(--color-group-03); }
#boardgame_megacorp .tile[data-group="4"] .header { background-color:var(--color-group-04); }
#boardgame_megacorp .tile[data-group="5"] .header { background-color:var(--color-group-05); }
#boardgame_megacorp .tile[data-group="6"] .header { background-color:var(--color-group-06); }
#boardgame_megacorp .tile[data-group="7"] .header { background-color:var(--color-group-07); }
#boardgame_megacorp .tile[data-group="8"] .header { background-color:var(--color-group-08); }


#boardgame_megacorp .tile[data-mortaged="1"] { background-color:#DDD; }

#boardgame_megacorp .tile .header { display:flex; justify-content:space-between; align-items:center; }
#boardgame_megacorp .tile .header button { width:30px; padding:5px 0; text-align:center; }

#boardgame_megacorp .map[data-housing="0"] .tile .header button,
#boardgame_megacorp .map[data-housing="1"] .tile[data-hidden="1"] .header button { display:none; }
#boardgame_megacorp .tile[data-hidden="1"] { filter:grayscale(100%); opacity:0.8; }



#boardgame_megacorp .tile[data-selectable="1"] { cursor:pointer; }
#boardgame_megacorp .tile[data-selected="1"] { outline: thick double #32a1ce; }



#boardgame_megacorp .tile .rating { flex:1; }
#boardgame_megacorp .tile .rating:after { display:block; width:100%; text-align:center; }
#boardgame_megacorp .tile[data-rentindex="1"] .rating:after { content:"★"; }
#boardgame_megacorp .tile[data-rentindex="2"] .rating:after { content:"★★"; }
#boardgame_megacorp .tile[data-rentindex="3"] .rating:after { content:"★★★"; }
#boardgame_megacorp .tile[data-rentindex="4"] .rating:after { content:"★★★★"; }
#boardgame_megacorp .tile[data-rentindex="5"] .rating:after { content:"★★★★★"; }

#boardgame_megacorp .tile[data-ownercolor="-1"] { border-color:#EEE; }
#boardgame_megacorp .tile[data-ownercolor="1"] { border-color:var(--color-player-01); }
#boardgame_megacorp .tile[data-ownercolor="2"] { border-color:var(--color-player-02); }
#boardgame_megacorp .tile[data-ownercolor="3"] { border-color:var(--color-player-03); }
#boardgame_megacorp .tile[data-ownercolor="4"] { border-color:var(--color-player-04); }
#boardgame_megacorp .tile[data-ownercolor="5"] { border-color:var(--color-player-05); }
#boardgame_megacorp .tile[data-ownercolor="6"] { border-color:var(--color-player-06); }

#boardgame_megacorp .userToken { height:30px; width:30px; border-radius:50%; border:2px solid #FFF; box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px; }
#boardgame_megacorp .userToken[data-color="1"] { background-color:var(--color-player-01); }
#boardgame_megacorp .userToken[data-color="2"] { background-color:var(--color-player-02); }
#boardgame_megacorp .userToken[data-color="3"] { background-color:var(--color-player-03); }
#boardgame_megacorp .userToken[data-color="4"] { background-color:var(--color-player-04); }
#boardgame_megacorp .userToken[data-color="5"] { background-color:var(--color-player-05); }
#boardgame_megacorp .userToken[data-color="6"] { background-color:var(--color-player-06); }


#boardgame_megacorp .info_section .deadIcon { font-size:1.8em; color:#900; }
#boardgame_megacorp .info_section .deadIcon .name { text-decoration:line-through; }
#boardgame_megacorp .info_section .value { font-size:3em; }
#boardgame_megacorp .info_section .userNameDisplay { font-size:1.8em; }
#boardgame_megacorp .info_section .value:before { content:"$"; }

#boardgame_megacorp .moneyTransfer { width:100%; }